In [ ]:
import pandas as pd
import seaborn as sns
from pydataset import data
import numpy as np
import os


from env import get_db_url

#turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

### Iris data set

In [ ]:
df_iris = data('iris')

In [ ]:
#print the first three rows
print(df_iris.head(3))

In [ ]:
#print the number of rows and columns (shape)
print(df_iris.shape)

In [ ]:
#print the column names
print(df_iris.columns)

In [ ]:
#print the data type of each column
print(df_iris.dtypes)

In [ ]:
#print the summary statistics for each of the numeric variables
print(df_iris.describe().T)

### Google data set

In [ ]:
df_google = pd.read_clipboard()

In [ ]:
#print the first three days
print(df_google.head(3))

In [ ]:
#print the number of rows and columns
print(df_google.shape)

In [ ]:
#print the column names
print(df_google.columns)

In [ ]:
#print the data type of each column
print(df_google.dtypes)

In [ ]:
#print the summary statistics for each of the numeric variables
print(df_google.describe())

In [ ]:
#print the unique values for each of your categorical variables
print(df_google.Sex.value_counts(),df_google.Survived.value_counts(),df_google.Pclass.value_counts(),df_google.SibSp.value_counts())

In [ ]:
df_google.Sex.value_counts()

In [ ]:
df_google.Survived.value_counts()

In [ ]:
df_google.Pclass.value_counts()

In [ ]:
df_google.SibSp.value_counts()

### Read from Excel

In [ ]:
df_excel = pd.read_excel("train.xlsx", sheet_name= 'train')

### aquire.py Functions

Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_titanic_data():
    '''This functionreads the titanic data from the Codeup db into a df.'''
    
    sql_query = 'SELECT * from passengers'
    
    df=pd.read_sql(sql_query, get_db_url('titanic_db'))
    
    return df

In [ ]:
def get_titanic_data():
    if os.pathisfile('titanic_df.csv'):
        df = pd.read_csv('titanic_df.csv', index_col=0)
        
    else: 
        df = new_titanic_data()
        df.to_csv('titanic_df.csv')
    return df

In [ ]:
titanic_df = get_titanic_data()

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas DataFrame. The returned DataFrame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_iris_data():
    '''
    This function reads the iris data from the Codeup db into a df.
    '''
    sql_query = """
                SELECT 
                    species_id,
                    species_name,
                    sepal_length,
                    sepal_width,
                    petal_length,
                    petal_width
                FROM measurements
                JOIN species USING(species_id)
                """
        df = pd.read_sql(sql_query, get_db_url('iris_db'))
    
    return df

In [ ]:
def get_iris_data():
    '''
    This function reads in iris data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('iris_df.csv'):
        
        df = pd.read_csv('iris_df.csv', index_col=0)
        
    else:
        
        df = new_iris_data()
        df.to_csv('iris_df.csv')
        
    return df

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_telco_data():
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    df = pd.read_sql(sql_query, get_db_url('telco_churn'))
    
    return df

In [ ]:
def get_telco_data():
    '''
    This function reads in telco data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('telco.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_telco_data()
        
        # Cache data
        df.to_csv('telco.csv')
        
    return df

In [ ]:
telco_df = get_telco_data()

# Data Prepartation Exercises:

In [ ]:
import pandas as pd
import numpy as np

import aquire

from sklearn.model_selection import train_test_split

### Iris data

In [ ]:
iris = aquire.get_iris_data()

In [ ]:
iris.head()

In [ ]:
iris = iris.drop(columns='species_id')

In [ ]:
iris = iris.rename(columns={'species_name':'species'})

In [ ]:
dummy_iris = pd.get_dummies(iris.species, drop_first=True)
dummy_iris.head()

In [ ]:
iris = pd.concat([iris, dummy_iris], axis=1)
iris.head()

In [ ]:
def prep_iris(iris):
    iris = iris.drop(columns='species_id')
    iris = iris.rename(columns={'species_name':'species'})
    dummy_iris = pd.get_dummies(iris.species, drop_first=True)
    iris = pd.concat([iris, dummy_iris], axis=1)
    return iris

In [ ]:
df = acquire.get_iris_data()

## Titanic data:

In [ ]:
titanic = aquire.get_titanic_data()
titanic.head()

In [ ]:
titanic = titanic.drop(columns=['embarked','class', 'age','deck'])
titanic.head()

In [ ]:
dummy_df = pd.get_dummies(data=titanic[['sex','embark_town']], drop_first=True)
dummy_df.head()

In [ ]:
titanic = pd.concat([titanic, dummy_df], axis=1)
titanic.head(

In [ ]:
def prep_titanic(titanic):
    titanic = titanic.drop(columns=['embarked','class', 'age','deck'])
    dummy_df = pd.get_dummies(data=titanic[['sex','embark_town']], drop_first=True)
    titanic = pd.concat([titanic, dummy_df], axis=1)
    
    return titanic

In [ ]:
df = aquire.get_titanic_data()

In [ ]:
df.head()

In [ ]:
df = prep_titanic(df)
df.head()

## Telco (again!) data

In [ ]:
telco = aquire.get_telco_data()
telco.head()

In [ ]:
telco = telco.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])
telco.head()

In [ ]:
telco.gender.map({'Female':1, 'Male':0})

In [ ]:
telco['gender_encoded'] = telco.gender.map({'Female': 1, 'Male': 0})

telco['partner_encoded'] = telco.partner.map({'Yes': 1, 'No': 0})

telco['dependents_encoded'] = telco.dependents.map({'Yes': 1, 'No': 0})

telco['phone_service_encoded'] = telco.phone_service.map({'Yes': 1, 'No': 0})

telco['paperless_billing_encoded'] = telco.paperless_billing.map({'Yes': 1, 'No': 0})

telco['churn_encoded'] = telco.churn.map({'Yes': 1, 'No': 0})

In [ ]:
dummy_df = pd.get_dummies(telco[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type', \
                              'payment_type'
                            ]],
                              drop_first=True)
dummy_df.head()

In [ ]:
def prep_telco(telco):
    telco = telco.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])

    telco['gender_encoded'] = telco.gender.map({'Female': 1, 'Male': 0})
    telco['partner_encoded'] = telco.partner.map({'Yes': 1, 'No': 0})
    telco['dependents_encoded'] = telco.dependents.map({'Yes': 1, 'No': 0})
    telco['phone_service_encoded'] = telco.phone_service.map({'Yes': 1, 'No': 0})
    telco['paperless_billing_encoded'] = telco.paperless_billing.map({'Yes': 1, 'No': 0})
    telco['churn_encoded'] = telco.churn.map({'Yes': 1, 'No': 0})
    
    dummy_df = pd.get_dummies(telco[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type', \
                              'payment_type'
                            ]],
                              drop_first=True)
    telco = pd.concat( [telco, dummy_df], axis=1 )
    
    return telco

In [ ]:
df = aquire.get_telco_data()
df.head()

# Split the Data

In [ ]:
def my_train_test_split(df, target):
    
    train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[target])
    train, validate = train_test_split(train, test_size=.25, random_state=123, stratify=train[target])
    
    return train, validate, test

### Run on Iris

In [ ]:
iris.head()

In [ ]:
target = 'species'

In [ ]:
train_iris, validate_iris, test_iris = my_train_test_split(iris, target)

In [ ]:
print(f'Prepared df: {iris.shape}')
print()
print(f'Train: {train_iris.shape}')
print(f'Validate: {validate_iris.shape}')
print(f'Test: {test_iris.shape}')

### Run on Titanic

In [ ]:
target = 'survived'

In [ ]:
train_titanic, validate_titanic, test_titanic = my_train_test_split(titanic, target)

In [ ]:
print(f'Prepared df: {titanic.shape}')
print()
print(f'Train: {train_titanic.shape}')
print(f'Validate: {validate_titanic.shape}')
print(f'Test: {test_titanic.shape}')

### Run on Telco

In [ ]:
target = 'churn'

In [ ]:
train_telco, validate_telco, test_telco = my_train_test_split(telco, target)

In [ ]:
print(f'Prepared df: {telco.shape}')
print()
print(f'Train: {train_telco.shape}')
print(f'Validate: {validate_telco.shape}')
print(f'Test: {test_telco.shape}')