In [ ]:
import pandas as pd
import seaborn as sns
from pydataset import data
import numpy as np
import os


from env import get_db_url

#turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

### Iris data set

In [ ]:
df_iris = data('iris')

In [ ]:
#print the first three rows
print(df_iris.head(3))

In [ ]:
#print the number of rows and columns (shape)
print(df_iris.shape)

In [ ]:
#print the column names
print(df_iris.columns)

In [ ]:
#print the data type of each column
print(df_iris.dtypes)

In [ ]:
#print the summary statistics for each of the numeric variables
print(df_iris.describe().T)

### Google data set

In [ ]:
df_google = pd.read_clipboard()

In [ ]:
#print the first three days
print(df_google.head(3))

In [ ]:
#print the number of rows and columns
print(df_google.shape)

In [ ]:
#print the column names
print(df_google.columns)

In [ ]:
#print the data type of each column
print(df_google.dtypes)

In [ ]:
#print the summary statistics for each of the numeric variables
print(df_google.describe())

In [ ]:
#print the unique values for each of your categorical variables
print(df_google.Sex.value_counts(),df_google.Survived.value_counts(),df_google.Pclass.value_counts(),df_google.SibSp.value_counts())

In [ ]:
df_google.Sex.value_counts()

In [ ]:
df_google.Survived.value_counts()

In [ ]:
df_google.Pclass.value_counts()

In [ ]:
df_google.SibSp.value_counts()

### Read from Excel

In [ ]:
df_excel = pd.read_excel("train.xlsx", sheet_name= 'train')

### aquire.py Functions

Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_titanic_data():
    '''This functionreads the titanic data from the Codeup db into a df.'''
    
    sql_query = 'SELECT * from passengers'
    
    df=pd.read_sql(sql_query, get_db_url('titanic_db'))
    
    return df

In [ ]:
def get_titanic_data():
    if os.pathisfile('titanic_df.csv'):
        df = pd.read_csv('titanic_df.csv', index_col=0)
        
    else: 
        df = new_titanic_data()
        df.to_csv('titanic_df.csv')
    return df

In [ ]:
titanic_df = get_titanic_data()

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas DataFrame. The returned DataFrame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_iris_data():
    '''
    This function reads the iris data from the Codeup db into a df.
    '''
    sql_query = """
                SELECT 
                    species_id,
                    species_name,
                    sepal_length,
                    sepal_width,
                    petal_length,
                    petal_width
                FROM measurements
                JOIN species USING(species_id)
                """
        df = pd.read_sql(sql_query, get_db_url('iris_db'))
    
    return df

In [ ]:
def get_iris_data():
    '''
    This function reads in iris data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('iris_df.csv'):
        
        df = pd.read_csv('iris_df.csv', index_col=0)
        
    else:
        
        df = new_iris_data()
        df.to_csv('iris_df.csv')
        
    return df

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_telco_data():
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    df = pd.read_sql(sql_query, get_db_url('telco_churn'))
    
    return df

In [ ]:
def get_telco_data():
    '''
    This function reads in telco data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('telco.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_telco_data()
        
        # Cache data
        df.to_csv('telco.csv')
        
    return df

In [ ]:
telco_df = get_telco_data()